body {
  margin: 0px;
  padding: 0px; }

p,
h1,
h2,
h3 {
  font-family: "Rubik";
  color: white; }

header {
  height: 160px;
  background-color: #001242;
  width: 100%;
  position: relative; }
  header .content {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center; }
    header .content .content-container {
      width: 100%;
      max-width: 1250px;
      padding: 0px 25px;
      display: flex;
      justify-content: space-between; }
      header .content .content-container .logo {
        height: 120px;
        width: 120px;
        margin: 40px 0px 0px 50px; }
        @media (max-width: 599px) {
          header .content .content-container .logo {
            margin: 40px auto; } }
      header .content .content-container .menu {
        display: flex;
        height: 100px;
        align-items: center; }
        @media (min-width: 900px) {
          header .content .content-container .menu {
            margin-right: 25px; } }
        header .content .content-container .menu a {
          text-decoration: none;
          color: white;
          display: flex;
          align-items: center; }
          header .content .content-container .menu a p {
            padding: 0px 25px;
            font-size: 24px; }
          @media (max-width: 599px) {
            header .content .content-container .menu a {
              display: none; } }
        header .content .content-container .menu .linkedin {
          height: 40px;
          padding: 0px 25px; }
  header .light-overlay {
    background-color: #0094c6;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1; }

#about-me,
#experience,
#projects {
  padding: 100px 25px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #about-me h2,
  #experience h2,
  #projects h2 {
    text-align: center;
    font-size: 36px;
    margin: 25px; }
  #about-me .content,
  #experience .content,
  #projects .content {
    display: flex;
    width: calc(100% - 50px);
    max-width: 1250px;
    padding: 0px 25px;
    flex-direction: column; }
    @media (min-width: 900px) {
      #about-me .content,
      #experience .content,
      #projects .content {
        flex-direction: row; } }

#about-me {
  padding-top: 50px;
  background-color: #0094c6; }
  #about-me img {
    width: 240px;
    height: 320px;
    border: 10px solid #001242;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 50px 0px; }
    @media (min-width: 900px) {
      #about-me img {
        margin: 0px 50px 0px 0px; } }
  #about-me p {
    font-size: 20px;
    flex: 1; }
  #about-me .content {
    align-items: center; }

#experience {
  background-color: #e2dcde; }
  #experience .content {
    flex-wrap: wrap; }
    #experience .content .cv {
      text-decoration: none;
      color: #001242;
      max-height: 50px; }
    #experience .content .skill {
      width: calc(100% - 50px);
      border: 5px solid #001242;
      border-radius: 20px;
      padding: 20px;
      margin: 25px 0px;
      overflow: hidden;
      transition: max-height 0.5s ease-out; }
      @media (min-width: 900px) {
        #experience .content .skill {
          width: calc((100% / 3) - 100px);
          margin: 25px; } }
      #experience .content .skill p {
        margin: 20px 0px; }
      #experience .content .skill .skill-header {
        display: flex;
        height: 50px; }
        #experience .content .skill .skill-header h3 {
          flex: 1;
          text-align: center;
          margin: auto; }
        #experience .content .skill .skill-header img {
          height: 30px;
          width: 30px;
          padding: 10px; }
      #experience .content .skill a {
        text-decoration: none;
        font-weight: bold;
        color: #001242; }
    #experience .content .skill.open {
      max-height: 400px; }
    #experience .content .skill.close {
      max-height: 50px; }
  #experience h2,
  #experience h3,
  #experience p {
    color: #001242; }

#projects {
  background-color: #001242; }
  #projects img {
    height: 1px; }
  #projects .project-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    #projects .project-cards a {
      text-decoration: none;
      width: calc(50% - 100px);
      margin: 25px;
      padding: 25px;
      background-color: #e2dcde;
      display: flex;
      border-radius: 25px;
      align-items: center;
      box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.25); }
      #projects .project-cards a img {
        height: 100px;
        flex: 0; }
      #projects .project-cards a .info {
        flex: 1;
        margin-left: 20px; }
        #projects .project-cards a .info h3 {
          font-size: 24px; }
        #projects .project-cards a .info h3,
        #projects .project-cards a .info p {
          color: #001242;
          text-align: center; }
