// General

body {
    margin: 0px;
    padding: 0px;
}

p,
h1,
h2,
h3 {
    font-family: "Rubik";
    color: white;
}

$dark-blue: #001242;
$light-blue: #0094c6;
$light-grey: #e2dcde;

// Header

header {
    height: 160px;
    background-color: $dark-blue;
    width: 100%;
    position: relative;

    .content {
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;

        .content-container {
            width: 100%;
            max-width: 1250px;
            padding: 0px 25px;
            display: flex;
            justify-content: space-between;

            .logo {
                height: 120px;
                width: 120px;
                margin: 40px 0px 0px 50px;
            }

            .menu {
                display: flex;
                height: 100px;
                align-items: center;
                margin-right: 25px;

                a {
                    text-decoration: none;
                    color: white;

                    p {
                        padding: 25px;
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .light-overlay {
        background-color: $light-blue;
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}

// About Me

#about-me {
    background-color: $light-blue;
    padding: 25px;
}

// Experience

#experience {
    background-color: $light-grey;
    padding: 25px;
}

// Projects

#projects {
    background-color: $dark-blue;
    padding: 25px;
}
