// General

body {
    margin: 0px;
    padding: 0px;
}

p,
h1,
h2,
h3 {
    font-family: "Rubik";
    color: white;
}

$dark-blue: #001242;
$light-blue: #0094c6;
$light-grey: #e2dcde;

@mixin mobile {
    @media (max-width: 900px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 900px) {
        @content;
    }
}

// Header

header {
    height: 160px;
    background-color: $dark-blue;
    width: 100%;
    position: relative;

    .content {
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;

        .content-container {
            width: 100%;
            max-width: 1250px;
            padding: 0px 25px;
            display: flex;
            justify-content: space-between;

            .logo {
                height: 120px;
                width: 120px;
                margin: 40px 0px 0px 50px;

                @include mobile {
                    margin: 40px auto;
                }
            }

            .menu {
                display: flex;
                height: 100px;
                align-items: center;

                @include desktop {
                    margin-right: 25px;
                }

                a {
                    text-decoration: none;
                    color: white;

                    p {
                        padding: 0px 25px;
                        font-size: 24px;
                    }

                    display: flex;
                    align-items: center;

                    @include mobile {
                        display: none;
                    }
                }

                a.linkedin-link {
                    display: flex;
                    background-color: white;
                    height: 100%;

                    img {
                        height: 40px;
                        padding: 0px 25px;
                    }

                    @include mobile {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 60px;
                        height: initial;
                    }
                }

                a.github-link {
                    display: flex;
                    background-color: black;
                    height: 100%;

                    img {
                        height: 40px;
                        padding: 0px 25px;
                    }

                    @include mobile {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 60px;
                        height: initial;
                    }
                }
            }
        }
    }

    .light-overlay {
        background-color: $light-blue;
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}

// About Me

#about-me,
#experience,
#projects {
    padding: 100px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 36px;
        margin: 25px;
    }

    .content {
        display: flex;
        width: calc(100% - 50px);
        max-width: 1250px;
        padding: 0px 25px;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }
    }
}

#about-me {
    padding-top: 50px;
    background-color: $light-blue;

    img {
        width: 240px;
        height: 320px;
        border: 10px solid #001242;
        box-sizing: border-box;
        border-radius: 20px;
        margin: 50px 0px;

        @include desktop {
            margin: 0px 50px 0px 0px;
        }
    }

    p {
        font-size: 20px;
        flex: 1;
    }

    .content {
        align-items: center;
    }
}

// Experience

#experience {
    background-color: $light-grey;

    .content {
        flex-wrap: wrap;

        .cv {
            text-decoration: none;
            color: $dark-blue;
            max-height: 50px;
        }

        .skill {
            width: calc(100% - 50px);
            border: 5px solid $dark-blue;
            border-radius: 20px;
            padding: 20px;
            margin: 25px 0px;
            overflow: hidden;
            transition: max-height 0.5s ease-out;

            @include desktop {
                width: calc((100% / 3) - 100px);
                margin: 25px;
            }

            p {
                margin: 20px 0px;
            }

            .skill-header {
                display: flex;
                height: 50px;

                h3 {
                    flex: 1;
                    text-align: center;
                    margin: auto;
                }

                img {
                    height: 30px;
                    width: 30px;
                    padding: 10px;
                }
            }

            a {
                text-decoration: none;
                font-weight: bold;
                color: $dark-blue;
            }
        }

        .skill.open {
            max-height: 400px;
        }

        .skill.close {
            max-height: 50px;
        }
    }

    h2,
    h3,
    p {
        color: $dark-blue;
    }
}

// Projects

#projects {
    background-color: $dark-blue;

    img {
        height: 1px;
    }

    .project-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }

        a {
            text-decoration: none;
            width: calc(100% - 50px);
            margin: 25px 0px;
            padding: 25px;
            background-color: $light-grey;
            display: flex;
            border-radius: 25px;
            align-items: center;
            box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.25);
            flex-direction: column;

            @include desktop {
                width: calc(50% - 100px);
                margin: 25px;
                flex-direction: row;
            }

            img {
                margin: 0px;
                width: 100px;
                height: initial;

                @include desktop {
                    height: 100px;
                    flex: 0;
                }
            }

            .info {
                flex: 1;
                margin-left: 0px;

                @include desktop {
                    margin: 20px;
                }

                h3 {
                    font-size: 24px;
                }

                h3,
                p {
                    color: $dark-blue;
                    text-align: center;
                }
            }
        }
    }
}
