// General

body {
    margin: 0px;
    padding: 0px;
}

p,
h1,
h2,
h3 {
    font-family: "Rubik";
    color: white;
}

$dark-blue: #001242;
$light-blue: #0094c6;
$light-grey: #e2dcde;

// Header

header {
    height: 160px;
    background-color: $dark-blue;
    width: 100%;
    position: relative;

    .content {
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;

        .content-container {
            width: 100%;
            max-width: 1250px;
            padding: 0px 25px;
            display: flex;
            justify-content: space-between;

            .logo {
                height: 120px;
                width: 120px;
                margin: 40px 0px 0px 50px;
            }

            .menu {
                display: flex;
                height: 100px;
                align-items: center;
                margin-right: 25px;

                a {
                    text-decoration: none;
                    color: white;

                    p {
                        padding: 25px;
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .light-overlay {
        background-color: $light-blue;
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}

// About Me

#about-me,
#experience,
#projects {
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 32px;
        margin: 10px;
    }

    .content {
        display: flex;
        width: 100%;
        max-width: 1250px;
        padding: 0px 25px;
    }
}

#about-me {
    background-color: $light-blue;

    img {
        width: 240px;
        height: 320px;
        border: 10px solid #001242;
        box-sizing: border-box;
        border-radius: 20px;
        margin-right: 50px;
    }

    p {
        font-size: 20px;
    }
}

// Experience

#experience {
    background-color: $light-grey;

    .content {
        flex-wrap: wrap;

        .skill {
            width: calc((100% / 3) - 100px);
            border: 5px solid $dark-blue;
            border-radius: 20px;
            padding: 20px;
            margin: 25px;
            overflow: hidden;
            transition: max-height 0.5s ease-out;

            .skill-header {
                display: flex;
                height: 50px;

                h3 {
                    flex: 1;
                    text-align: center;
                    margin: auto;
                }

                img {
                    height: 30px;
                    width: 30px;
                    padding: 10px;
                }
            }
        }

        .skill.open {
            max-height: 400px;
        }

        .skill.close {
            max-height: 50px;
        }
    }

    h2,
    h3,
    p {
        color: $dark-blue;
    }
}

// Projects

#projects {
    background-color: $dark-blue;
}

// Projects

footer {
    background-color: $light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    .linkedin {
        height: 40px;
    }
}
